.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px
}

.root{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.root > div{
    display: flex;
}

.checkboxContainer{
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.buttons{
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 10px;
}

.medsContainer{
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}

.green{
    background-color: aquamarine;
}

.red{
    background-color: tomato;
}

.blue {
    background-color: cornflowerblue;
}